body {
    font-family: "Georgia", serif;
    line-height: 1.7;
    background-color: #f9f9f9;
    color: #333;
}

h1, h2, h3 {
    color: #0d2c54;
}

a {
    color: #1b4965;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {
    border: 0;
    height: 1px;
    background: #ccc;
}
